* {

	padding:0px;
	margin:0px;
	box-sizing: border-box;
	text-decoration: none;
  list-style: none;
  box-sizing: border-box;

	/*Si ocurren errores en la pagina prueba borrando display: block; */

	font-family: Century Gothic;

}

/*Scrollbar*/

scrollbar-face-color: #6685CA;

scrollbar-highlight-color: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,4,59,1) 23%, rgba(49,119,201,1) 55%, rgba(0,211,255,1) 80%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,4,59,1) 23%, rgba(49,119,201,1) 55%, rgba(0,211,255,1) 80%, rgba(255,255,255,1) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,4,59,1) 23%, rgba(49,119,201,1) 55%, rgba(0,211,255,1) 80%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); ;

scrollbar-shadow-color: #6685CA;

scrollbar-3dlight-color:#FFFFFF;

scrollbar-arrow-color:#FFFFFF;

scrollbar-track-color:#E5E5E5;

scrollbar-drakshadow-color:#170a2b;

/*Fuentes*/
/*

Fuente terror 1:
font-family: 'Viaoda Libre', cursive;
/*
/*Fin fuentes*/

title {display:none;}

body {background-image: linear-gradient(180deg, #505467 0, #1f3259 50%, #00154b 100%);}

a {

	text-decoration:none;

}
.icono_1 {

	height: 3%;
	width: 3%;

}

h1 {

color:#fff;
font-family: 'Dosis', sans-serif;
background:#2D9FFF;
padding:2%;
z-index: 2;


position:relative;

top:0%;

}

form.d-flex {

	float: right;
	width: 50%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	border-radius: 50%;
	margin:0%

}

form.d-flex-2 {

	float: right;
	width: 50%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	border-radius: 50%;
	display: none;

}

.btn-outline-success {

	background: #39ffd8;
	color: #fff;
	border-color: none;
	border: 5px;
	font-family: 'Open Sans', sans-serif;

}

header.menu {

	width:100%;

}

.menu_bar {

	display:none;

}

nav{

z-index: 1;

}

header nav ul {

overflow:hidden;
list-style:none;

}

header nav ul li {

	float:left;

}

header nav ul li img {

	margin-right:10px;
	vertical-align:middle;
}



header nav ul li a:hover {

	content:'';
	box-shadow: 2px 2px 10px #00FBFF;
	background-image: linear-gradient(180deg, #e0497b 0, #ce427e 10%, #b63b7d 20%, #9a3376 30%, #7b2a6a 40%, #591f59 50%, #3a1446 60%, #200b35 70%, #0f0026 80%, #00001b 90%, #000011 100%);
  	transition:0.5s;
	color:#fff;
	
}

button.btn-outline-success {

	background-image: radial-gradient(circle at 0% 0%, #f4ff69 0, #d4ff75 10%, #b1ff81 20%, #8bff8d 30%, #5dff97 40%, #00ff9f 50%, #00f0a6 60%, #00e3ad 70%, #00d8b5 80%, #00cebd 90%, #00c7c6 100%);

}

a.btn-inicio-sesion {


	color:#fff;
	background-image: radial-gradient(circle at 0% 0%, #f4ff69 0, #d4ff75 10%, #b1ff81 20%, #8bff8d 30%, #5dff97 40%, #00ff9f 50%, #00f0a6 60%, #00e3ad 70%, #00d8b5 80%, #00cebd 90%, #00c7c6 100%);
	box-shadow:2px 5px 8px #000000;
	width:10%;
	text-align:center;
	float:right;
	vertical-align: middle;
	border-radius:5%;
	padding-top:0.5%;

	  position: absolute;
    top: 25%;
    left: 85%;
    height: 50%;


}

a.pointer {

cursor:pointer;
font-family: 'Inter', sans-serif;
font:200%;

}

/**/

.in-flex {

	flex:1;

}

.in-flex:first-child {

	flex:2;

}


div.titulo_lista {

	font-family: 'Zen Dots', cursive;
	background-image: linear-gradient(175deg, #c9b6ff 0, #9591f3 25%, #486ee5 50%, #0050d7 75%, #003bca 100%);
	color:#fff;
	font:bold;
	font-size:180%;
	padding:5%;
	margin:0%;
	border-top-left-radius:1%;
	border-top-right-radius:1%;
	width:100%;


}


li.li_lista_1 {
	color:#fff;
	margin-top:10%;
	display:block;
	background:none;
	width:100%;
	box-sizing:border-box;


}

li a {

	color:#fff;
	font-family: 'Barlow', sans-serif;
	padding:0%;

}

p.boton_1 {

	color:#fff;
	font-size:150%;
	font-weight:bold;
	font-family: 'Nunito', sans-serif;
	cursor:pointer;
	transition: all 0.3s;
	box-sizing: border-box;
	margin:5%;

}

img.Portada_1 {

width:416px;
height:95%;

}

div.end {

background: linear-gradient(to bottom, #00334b 0%, #080321 100%);
width:100%;
padding:5%;
padding-bottom:15%;
float:left;
box-sizing: border-box;

box-shadow:0px 0px 20px #000;

position:relative;

}

p.creditos {

	font-weight: bold;
	color:#fff;
	font-size:130%;

}

p.caja_invisible_end {

		width:100%;
		height:100%;
		padding:10%;
		display: flex;
  flex-direction: column;

}

.share-face {

	padding-left:5%;
	
}

.share-ig {

	padding-left:1%;

}

ul.ul_lista_1 {

	color:#fff;
	width:50%;
	margin-left:6%;
	padding-left: 0%;
	float:left;
	list-style-type:none;
	box-shadow:2px 2px 5px #000;

	background:#787878;
	border-radius: 0.5%;


}

li.li_lista_1 {

	display:block;
	padding:0%;
	text-align:center;
	width:100%;

}

/*Efectos*/

p.boton_1:hover {

  animation-duration: 1s;
  animation-name: animacion_1;
  transition:1s;

}

button.btn-outline-success:hover {

	background-image: radial-gradient(circle at 0% 0%, #ffd440 0, #ffda3b 5%, #f9e03b 10%, #e7e63f 15%, #d4eb46 20%, #c0f051 25%, #abf45d 30%, #93f76c 35%, #78fa7c 40%, #55fd8d 45%, #00ff9f 50%, #00ffb2 55%, #00ffc5 60%, #00ffd9 65%, #00ffec 70%, #00ffff 75%, #00ffff 80%, #00ffff 85%, #00ffff 90%, #00ffff 95%, #00feff 100%);
}

a.btn-inicio-sesion:hover {

	animation-name: transicion_1;
	animation-duration: 1s;

	background-image: radial-gradient(circle at 0% 0%, #ffd440 0, #ffda3b 5%, #f9e03b 10%, #e7e63f 15%, #d4eb46 20%, #c0f051 25%, #abf45d 30%, #93f76c 35%, #78fa7c 40%, #55fd8d 45%, #00ff9f 50%, #00ffb2 55%, #00ffc5 60%, #00ffd9 65%, #00ffec 70%, #00ffff 75%, #00ffff 80%, #00ffff 85%, #00ffff 90%, #00ffff 95%, #00feff 100%);

}

/*Corregir errores*/

h1 {
	margin:0px;

}

/*Fin Corregir errores*/

/*Animaciones*/

p.boton_1:hover {

	content:'';
	color:#00ff59;
	transition:1s;
	transition: all .3s;

}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0015 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  box-shadow:4px 4px 10px #000;
  position: relative;
  overflow: hidden;
  margin: 5%;
  min-width: 220px;
  max-width: 550px;
  max-height: 1000px;
  width: 97%;
  background: #000000;
  text-align: center;
  	margin-left: 8%;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015 h2 span {
  font-weight: 800;
}
figure.snip0015 p {
  font-weight: 200	;
  font-size:200%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}



nav.Nav_1 {
	width:100%;
	margin:0px;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,4,59,1) 28%, rgba(0,97,191,1) 69%, rgba(0,211,255,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,4,59,1) 28%, rgba(0,97,191,1) 69%, rgba(0,211,255,1) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,4,59,1) 28%, rgba(0,97,191,1) 69%, rgba(0,211,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d3ff",GradientType=1); 
	font-family: 'Baloo Tamma 2', cursive;
	box-shadow: 0px 0px 20px #000;


	position:relative;

	margin-bottom:10%;
    width: 100%;
    color:#fff;
    padding: 0;
display:table;
text-decoration:none;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav.Nav_1 ul{
    float: left;
    margin-right: 20px;
}
nav.Nav_1 ul li{
    display: inline-block;
    line-height: 80px;
}

nav.Nav_1 ul li a{
    color: #fff;
    font-size: 18px;
    padding-top:  100%;
    padding-bottom:  100%;
    padding-left:11px;
    padding-right:11px;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 0;
}

div.menu_bar {

	z-index: 0;
	position: relative;

}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 10%;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .Menu-nav{
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 0;
        left: 100%;
        text-align: center;
        transition: all .5s;
        z-index: -100;
    }

    li.caja_invisible_li {

    	width: 100%;
    	height: 25%;

    }


    nav ul li{
        display: block;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    font-family: 'Barlow', sans-serif;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

	container.lista_1 {

		margin:6%;

	}

	img.ig {

		margin-right:0.5%;

	}

	a.link_1 {

		color:#fff;
		font-size: 180%;

	}

	p.Titulo_1 {

		font-family: 'Zen Dots', cursive;
		font-size:250%;
		margin-left:10%;
		color:#fff;

	}

	p.Texto_1 {

		font-family: 'Raleway', sans-serif;
		font-size:180%;
		margin-left:15%;
		margin-right:10%;
		color:#fff;

	}

/*Boton volver hasta arriba de la pagina*/

.ir-arriba {
	z-index: 1;
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

/*Fin boton volver hastas*/

/*Fin Animaciones*/

/*Laptops y tablest*/

@media screen and (max-width:800px) {

	body {

		background:#fff;

	}

	h1 {

			list-style:none;

	}

	ul.ul_lista_1 {

		margin:0px;
		width:100%;
		text-align:center;
	}


	img.Portada_1 {

		max-width:350px;
		max-height:30%; 
		margin:0px;

}

	p.caja_invisible_end {

	width:100%;
	height:100%;
	padding:10%;
	padding-top:50%;
	display: flex;
 	flex-direction: column;

}
	
	.share-face {

	padding-left:3%;
	
}

.share-ig {

	padding-left:3%;

}

}

/*Ipad´s*/

@media screen and (max-width:900px) {

	body {

		background:#fff;

	}

	h1 {

		list-style:none;
		text-align: center;
		z-index:100;

	}

		figure.snip0015 {

		margin-left:0;

	}

	ul.ul_lista_1 {

		margin:0px;
		width:100%;
		text-align:center;
	}


	img.Portada_1 {

		max-width:350px;
		max-height:400px; 
		margin:0px;

}

	p.caja_invisible_end {

	width:100%;
	height:100%;
	padding:10%;
	padding-top:50%;
	display: flex;
 	flex-direction: column;

}
	
	.share-face {

	padding-left:2%;
	
}

.share-ig {

	padding-left:2%;

}
}

ul {

	margin: 0;

}


/*Celulares*/

@media screen and (max-width:415px) {


	/*
		Colorear toda la pagina si falla el responsive
		background:yellow;
	*/


	body {

	background:#fff;

	}

	img.icono_1 {

		width: 10%;

	}

	h1 {

		color: #fff;

	}

	.btn-outline-success {

display:  none;

	}

	input.form-control {

		display: none;

	}


	figure.snip0015 {

		margin-left:1%;

	}

	h1 {

		list-style:none;
		padding:5%;
		z-index: 2;
		text-decoration: none;


	}

	li.li_lista_1 {

		padding:0px;
		font-size:100%;

	}

	ul.ul_lista_1 {

	background:#909090;
	width:100%;
	float:left;
	list-style-type:none;
	margin-top:10%;

	}

	p.caja_invisible_end {

	width:100%;
	height:100%;
	padding:10%;
	padding-top:50%;
	display: flex;
 	flex-direction: column;

}

.snip0015 {

margin:0%;
padding:0%;

}
	
	.share-face {

	padding-left:1%;
	
}

.share-ig {

	padding-left:1%;

}


.titulo_lista {

min-width:0px;

display:block;

}

header nav ul li a:hover {

	box-shadow: none;
	background:none;
  	transition:none;

}

nav.Nav_1 ul li a{
    color: #fff;
    font-size: 18px;
    padding-top: 20%;
    padding-bottom:  20%;
    padding-left:10px;
    padding-right:10px;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 0;
}


}


