* {

	padding:0px;
	margin:0px;
	box-sizing: border-box;
	 overflow-x: hidden;

	/*Si ocurren errores en la pagina prueba borrando display: block; */

	font-family: Century Gothic;

}

/*Fuentes*/
/*

Fuente terror 1:
font-family: 'Viaoda Libre', cursive;

Fuente terror 2:

font-family: 'Architects Daughter', cursive;

Fuente de escritura a mano 1:

    font-family: 'Architects Daughter', cursive;

    font-family: 'Gloria Hallelujah', cursive;

/*
/*Fin fuentes*/

title {display:none;}

body {background:#0f2a47;}

a {

	text-decoration:none;

}

.caja_titulo {

	display: block;
	float:left;
	display: block;
	background:#000;
	padding:2%;
	padding-left:9%;
	width:100%;
	height:16%;
	text-align: center;
	box-shadow: #081828 4px 4px 10px;

}

h1 {

	font-family: 'Exo', sans-serif;
	color:#00e4ff;
	display: block;
	font-size:250%;

	padding-top:10%;
	padding-right:5%;
	
}

h1::first-letter {

	color:#00e4ff;
}

img.banner_1 {

	display: block;
	width:100%;
	height:50%;

}

p.boton_regresar {

	font-size:150%;
	font-weight:bold;
	font-family: 'Viaoda Libre', cursive;
	cursor:pointer;
	transition: all 0.3s;
	box-sizing: border-box;
	padding-left:5%;
	color:#900000;

}


a.lista_1 {

	font-family: 'Viaoda Libre', cursive;	
	
}

p.boton_1 {

	padding-left:10%;
	font-size:150%;
	font-weight:bold;
	font-family: 'Viaoda Libre', cursive;
	cursor:pointer;
	transition: all 0.3s;

}


p.texto_1 {

	background:none;

	color:#fff;

	width:100%;
	padding-top:15%;
	padding-left:25%;
	padding-right:25%;
	padding-bottom:5%;
	text-align:center;
	font-size:120%;

}

p.texto_2 {

	background:none;

	color:#fff;

	width:100%;
	padding-top:5%;
	padding-left:25%;
	padding-right:25%;
	text-align:center;
	font-size:120%;

}

img.img_1 {

width:40%;
height:auto;

}

div.end {

background: #003f68;
box-shadow: 4px 4px 20px #001045;
width:100%;
padding:10%;
float:left;

position:relative;

}

p.creditos {

	font-weight: bold;
	color:#fff;
	font-size:110%;

	position:absolute;

	bottom:30%;

}

p.creditos_img {

	color:#fff;
	padding-top:5%;
	padding-bottom:15%;

}

	p.creditos {

		font-family: 'Open Sans', sans-serif;

}

audio.bgsound {

	width:100%;
	background:#000;
	padding: 0px;
	color:#00ffff;

}

.titulo_cancion {

color:#fff;
font-size:140%;
padding:2%;
padding-left:5%;

}

/*Efectos*/

p.boton_regresar {

	animation-duration: 1s;
  	animation-name: animacion_1;
  	transition:1s;

}

p.boton_1:hover {

  animation-duration: 1s;
  animation-name: animacion_1;
  transition:1s;

}

/*Animaciones*/

p.boton_1:hover {

	content:'';
	color: red;
	text-shadow: 0px 12px 2px #840000;
	text-shadow: 0px 24px 2px #840000;
	transition:1s;

}

p.boton_regresar:hover {

	content:'';
	color: #121212;
	transition:1s;

}

/*Fin Animaciones*/




@media screen and (max-width:800px) {

	body {

		background:#000;

	}

	p.boton_regresar {

		margin-bottom:2%;

	}

	p.titulo_cancion {

	background:#840000;

	}

	audio.bgsound {

		box-shadow: 0px 1px 10px #000;

	}

	h1 {

		font-size: 300%;

	}


	p.texto_1 {

		font-size: 140%;
		width:95%;
		margin:2%;
		margin-left:2%;
		padding:10%;
		padding-top:25%;
		box-sizing: border-box;
		text-align:justify;

	}

	img.img_1 {

		width:90%;
		height:auto;

	}

		p.texto_2 {

		font-size: 140%;
		width:90%;
		margin:2%;
		margin-left:5%;
		padding:5%;
		padding-top:5%;
		box-sizing: border-box;
		text-align:justify;

	}

	p.creditos_img {

		font-size:120%;

	}

}



iframe.img_1 {

width:1000px;
margin-left:30%;
height:414px;
position:relative;

	left:40px;

}

.musica {

background none


}

@media screen and (max-width:400px) {


	/*
		Colorear toda la pagina si falla el responsive
		background:yellow;
	*/


	body {

		background:#000;

	}

	p.boton_regresar {

		margin-bottom:5%;
		color:#900000;

	}

	p.titulo_cancion {

	background:#840000;

	}

	audio.bgsound {

		box-shadow: 0px 1px 10px #000;

	}

	h1 {

		margin-bottom:10%;

	}

	p.texto_1 {

		width:95%;
		margin:2%;
		margin-left:2%;
		padding:10%;
		padding-top:30%;
		box-sizing: border-box;
		text-align:justify;

	}

	img.img_1 {

		width:90%;
		height:auto;

	}

		p.texto_2 {

		width:90%;
		margin:2%;
		margin-left:5%;
		padding:5%;
		padding-top:15%;
		box-sizing: border-box;
		text-align:justify;

	}

	p.creditos_img {

		padding:5%;

	}

	div.end {

		padding:10%;

	}

}